@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The Driving School Management Application is a web-based system designed to streamline the operations of a driving school. Developed using ASP.NET Core with Entity Framework Core for database management, the application provides a robust solution for managing students, instructors, vehicles, and lessons</a>.</p>
</div>
